#root {
    -fx-background-image: url("../images/background.jpg");
    -fx-background-size: 100%;
    -fx-text-alignment: center;
    -fx-min-height: 370;
    -fx-min-width: 600;
}

.button {
    -fx-background-color: #5D9400;
    -fx-text-fill: white;
}
