#root {
    -fx-background-image: url("../images/background.jpg");
    -fx-background-size: 100%;
    -fx-pref-height: 370;
    -fx-pref-width: 600;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.button {
    -fx-background-color: #5D9400;
    -fx-font-size: 14;
    -fx-text-fill: white;
}
